/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  box-sizing: border-box;
}
.confirmAlert
{
  width: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* ===== Colors ===== */
  --body-color: #CCFFF7;
  --sidebar-color: #fff;
  --primary-color: #FF5733;
  --primary-color-light: #f6f5ff;
  --toggle-color: #18191a;
  --text-color: black;
  --color-notas: #FF5733 ;
  --color-link: #9C33FF;
  --text-button:#707070;
  --color-boton:#FF5733;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  background-color: var(--body-color);
  transition: var(--tran-05);
 
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #e4e9f7;
  --text-color: #ccc;
  --color-notas:#ec7c26 ;
  --color-link:white;
  --text-button:black;
  --color-boton:#2EE59D;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%; /*tamaño del header*/
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.body .sidebar {
  height: 100%;
}
.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px; /*texto header*/
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 70px;
}

.sidebar header .toggle {
  position: absolute;
  top: 25%;
  right: -30px;
  transform: translateY(-50%) rotate(180deg);
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;

  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color); /*color del icono*/
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;

  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
  top: 0;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .selector {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
} /**/
.selector .sw {
  position: relative;
  height: 30px;
  width: 100%;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.sw::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);

  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .sw::before {
  left: 2.5rem;
}

.home {
  zoom: 70%;
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text {
  font-size: 1rem; /*texto del body*/
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
body.dark .home .text {
  color: var(--text-color); /*color del texto en oscuro*/
}

/**/
.modo2 {
  display: none;
}
.modo {
  position: relative;
  margin-top: 20px;
  bottom: 0px;
}
.modo .sol {
  display: none;
}
.modo .luna {
  display: none;
}
.Formulario,
.info,
.Iniciar-sesion,
.salir {
  padding-left: 0.6rem;
  padding-right: 1rem;
  border-top-right-radius: 2rem;

  border-bottom-right-radius: 2rem;
  position: absolute;
  background-color: var(--primary-color);
  color: white;
  align-items: center;
  height: 3.11rem;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  display: flex;
}

.activo {
  display: none;
}

.Formulario {
  right: -140%;
}
.info {
  right: -220%;
}
.Iniciar-sesion {
  right: -175%;
}
.salir {
  right: -165%;
  margin-bottom: 10px;
}
.hover-aviso {
  display: flex;
}
.remove-aviso {
  display: none !important;
}
.salir-sesion {
 display: none!important;
}
@media screen and (max-width: 1102px) {
  html body {
    zoom: 50%;
  }
  .home{
    zoom: 100%;
  }
  .sidebar {
    zoom: 110%;
    width: 50%;
  }
  .salir {
    right: -165%;
    margin-bottom: 1px;
  }
  .sidebar {
    zoom: 90%;
    width: 70%;
  }
  .selector .sw {
    height: 50px;
    width: 61px;
  }
  .sidebar .icon {
    font-size: 50px;
    
  }
  .sidebar .text {
    font-size: 30px; /*texto header*/
  }
  .Formulario {
    right: -150%;
  }
  .info {
    right: -225%;
  }
  .Iniciar-sesion {
    right: -175%;
  }
  .salir {
    right: -175%;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 564px) {
  html body .home {
    zoom: 70%;
  }
}
@media screen and (max-width: 400px) {
  .home{
    left: 0;
  }
  .sidebar .menu-bar {
    height: initial;
  }
  .sidebar .icon {
    font-size: 50px;
  }
  .sidebar {
    width: 70%;
  }
}
header .image-text .name {
  font-size: 20px;
}
.body .home .h1 {
  font-size: 7rem;
  padding: initial;
}

